In [2]:
import pandas as pd

the data set we use- https://www.kaggle.com/datasets/shivamb/netflix-shows?resource=download

In [3]:
### Step 1: Look into your data ###

In [4]:
df = pd.read_csv(f"netflix_titles.csv")

(not mandatory - if you want to know more about the f"" and why- https://realpython.com/python-f-strings/ )

In [5]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [6]:
# pd.set_option('max_rows',None)

In [7]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [8]:
pd.set_option('max_rows',10)

In [9]:
### 2. Save the variables to a list ###

In [10]:
df.columns

Index(['show_id', 'type', 'title', 'director', 'cast', 'country', 'date_added',
       'release_year', 'rating', 'duration', 'listed_in', 'description'],
      dtype='object')

In [11]:
columns = list(df.columns)
columns

['show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'duration',
 'listed_in',
 'description']

In [12]:
### Note down potential issues you will have to address in each column. ###

In [13]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,NaN,NaN,NaN,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

what we see:
1. directors missing (mostly from TV)
2. cast missing (mostly from Movies)
3. countries missing
4. the format of the dates are month (word), DD, YYYY (but consistent)
5. date and duration combination of numbers and words
6. duration for movies represented by time and for TV Shows by number of seasons.
7. listed in and cast contains a list of words that are not represented by a list but by a string with commas.
8. indexing of DF index and of show_id does not match.


generally use this git page as a guide!  it is super ultra helpfull!
https://github.com/Quartz/bad-data-guide

In [14]:
### Step 2: Look at the proportion of missing data ###

In [15]:
print("Missing values distribution: ")
df.isnull()

Missing values distribution:

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,False,False,False,False,True,False,False,False,False,False,False,False
1,False,False,False,True,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,False,False,False,False,False
3,False,False,False,True,True,True,False,False,False,False,False,False
4,False,False,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,False,False,False,False,False,False,False,False,False,False,False,False
8803,False,False,False,True,True,True,False,False,False,False,False,False
8804,False,False,False,False,False,False,False,False,False,False,False,False
8805,False,False,False,False,False,False,False,False,False,False,False,False
8806,False,False,False,False,False,False,False,False,False,False,False,False

In [16]:
pd.set_option('max_rows', None)
df.isnull().mean()

show_id         0.000000
type            0.000000
title           0.000000
director        0.299080
cast            0.093675
country         0.094357
date_added      0.001135
release_year    0.000000
rating          0.000454
duration        0.000341
listed_in       0.000000
description     0.000000
dtype: float64

1. director column has the highest percentage of missing data ~ 30%
2. cast and country column also has a considerable percentage of missing data ~ 9%
3. date_added, rating and duration don’t have that much missing data ~ 0% - 0.1%
4. other columns are not empty.

In [17]:
pd.set_option('max_rows', 10)

Your next question is probably, how do I deal with these columns with missing values?

There are a few ways to deal with it:
1. Find out the actual value and fill it in. This is always the best solution.
2. Drop the column entirely if it's not essential to your analysis.
3. Keep the column, especially if it's critical to your analysis. In this case, the director, cast, and country columns are important, so it's best to keep them, and consider imputation, which means replacing missing data with substituted values. However, it's not possible to do this in most cases when the data are string values and not numerical values.

Your next next question is probably, how do I deal with these rows with missing values?
In some cases, you might want to examine the distribution of missing values across all the rows of your dataset (given that your dataset doesn’t have a large number of observations/rows). From here, you can choose from the choices above depending on how important the rows are to your analysis. For instance, your dataset contains recorded data of something that is changing over time. Even though a row can contain missing values, you might not want to eliminate it because there is important time information you want to retain.

In [18]:
### Step 3: Dealing with Missing Values (NaN Values) ###

let's notice the types:
1. String: director, cast, country, rating (here, it’s a string and not mixed because the numerical values won’t have any meaning if separated)
2. Mixed string and int: date_added, duration

note: NaN means Not a Number in pandas. we need to replace them

For string type values, we can replace NaN values
with “” or “None” or any string that can indicate to you that
there isn’t any value in that entry

In [19]:
# getting all the columns with string as value

str_cols = list(df.columns)
str_cols.remove('release_year') #release year is int not string and we won't use it today.

# removing leading and trailing characters from columns with str type
for i in str_cols:
    df[i] = df[i].str.strip()
    

# names of the columns to replace NaN values:
columns = ['director', 'cast', 'country', 'rating', 'date_added']

# looping through the columns to fill the entries with NaN values with ""
for column in columns:
    df[column] = df[column].fillna("")

In [20]:
df

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,,,,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...
...,...,...,...,...,...,...,...,...,...,...,...,...
8802,s8803,Movie,Zodiac,David Fincher,"Mark Ruffalo, Jake Gyllenhaal, Robert Downey J...",United States,"November 20, 2019",2007,R,158 min,"Cult Movies, Dramas, Thrillers","A political cartoonist, a crime reporter and a..."
8803,s8804,TV Show,Zombie Dumb,,,,"July 1, 2019",2018,TV-Y7,2 Seasons,"Kids' TV, Korean TV Shows, TV Comedies","While living alone in a spooky town, a young g..."
8804,s8805,Movie,Zombieland,Ruben Fleischer,"Jesse Eisenberg, Woody Harrelson, Emma Stone, ...",United States,"November 1, 2019",2009,R,88 min,"Comedies, Horror Movies",Looking to survive in a world taken over by zo...
8805,s8806,Movie,Zoom,Peter Hewitt,"Tim Allen, Courteney Cox, Chevy Chase, Kate Ma...",United States,"January 11, 2020",2006,PG,88 min,"Children & Family Movies, Comedies","Dragged from civilian life, a former superhero..."
8806,s8807,Movie,Zubaan,Mozez Singh,"Vicky Kaushal, Sarah-Jane Dias, Raaghav Chanan...",India,"March 2, 2019",2015,TV-14,111 min,"Dramas, International Movies, Music & Musicals",A scrappy but poor boy worms his way into a ty...

In [21]:
####
from datetime import datetime

# examining rows with null values for date_added column
rows = []
for i in range(len(df)): # same as for i in range number_of_rows (we get the num of rows with len() on the df)
    if df['date_added'].iloc[i] == "": # iloc function : go to the i'th place in the column and fetch the data.
        rows.append(i)
        
# extracting months added and years added
month_added = []
year_added = []

for i in range(len(df)):
    # replacing NaN values with 0
    if i in rows:
        month_added.append(0)
        year_added.append(0)
    else:
        date = df['date_added'].iloc[i].split(" ")
        month_added.append(date[0])
        year_added.append(int(date[2]))
        
# turning month names into month numbers
for i, month in enumerate(month_added):
    if month != 0:
        datetime_obj = datetime.strptime(month, "%B")
        month_number = datetime_obj.month
        month_added[i] = month_number
        
# checking all months
print(set(month_added))
print(set(year_added))

# inserting the month and year columns into the dataset
df.insert(7, "month_added", month_added, allow_duplicates = True)
df.insert(8, "year_added", year_added, allow_duplicates = True)
df.head()

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12}
{2016, 2017, 2018, 2019, 2020, 2021, 0, 2008, 2009, 2010, 2011, 2012, 2013, 2014, 2015}

,show_id,type,title,director,cast,country,date_added,month_added,year_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,,United States,"September 25, 2021",9,2021,2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",9,2021,2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",,"September 24, 2021",9,2021,2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,,,,"September 24, 2021",9,2021,2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",9,2021,2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

let's look at "duration". it is diffrent measuring between TV and movies.
how can we deal with it?

first of all- let's see if we actually have only TV shows and movies-

In [22]:
df['type'].unique()

array(['Movie', 'TV Show'], dtype=object)

We will deal with it by separating the type of content into 2 different datasets and naturally, the duration column will just be numerical and just have 1 type of time unit. This way, you can easily and clearly plot using the values.

In [30]:
# separating original dataset to tv show and movie dataset#

# creating dataframe for tv shows
netflix_shows = df[df['type'] == "TV Show"]
# changing the indexing so it will start from 0
netflix_shows = netflix_shows.set_index([pd.Index(range(0, len(netflix_shows)))])


# creating dataframe for movies
netflix_films = df[df['type'] == "Movie"]
# changing the indexing so it will start from 0
netflix_films = netflix_films.set_index([pd.Index(range(0, len(netflix_films)))])

We also have to create a function to extract the number from that column so that it can be inserted into the columns of the 2 new dataset, because the duration column has both strings and numbers - and now we don't need the string part that tells that what the units are (min and seasons)

In [23]:
# get length of movie or number of seasons of show
def getDuration(data):
    count = 0
    durations = []
    for value in data:
    # filling in missing values
        if type(value) is float:
            durations.append(0)
        else:
            values = value.split(" ")
            durations.append(int(values[0]))
    return durations
    
# inserting new duration type column for shows (renamed column)
netflix_shows.insert(11, 'seasons', getDuration(netflix_shows['duration']))
netflix_shows = netflix_shows.drop(['duration'], axis = 1)
netflix_shows.head()

# inserting new duration type column for films (renamed column)
netflix_films.insert(11, 'length', getDuration(netflix_films['duration']))
netflix_films = netflix_films.drop(['duration'], axis = 1)
netflix_films.head()

,show_id,type,title,director,cast,country,date_added,month_added,year_added,release_year,rating,length,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,,United States,"September 25, 2021",9,2021,2020,PG-13,90,Documentaries,"As her father nears the end of his life, filmm..."
1,s7,Movie,My Little Pony: A New Generation,"Robert Cullen, José Luis Ucha","Vanessa Hudgens, Kimiko Glenn, James Marsden, ...",,"September 24, 2021",9,2021,2021,PG,91,Children & Family Movies,Equestria's divided. But a bright-eyed hero be...
2,s8,Movie,Sankofa,Haile Gerima,"Kofi Ghanaba, Oyafunmike Ogunlano, Alexandra D...","United States, Ghana, Burkina Faso, United Kin...","September 24, 2021",9,2021,1993,TV-MA,125,"Dramas, Independent Movies, International Movies","On a photo shoot in Ghana, an American model s..."
3,s10,Movie,The Starling,Theodore Melfi,"Melissa McCarthy, Chris O'Dowd, Kevin Kline, T...",United States,"September 24, 2021",9,2021,2021,PG-13,104,"Comedies, Dramas",A woman adjusting to life after a loss contend...
4,s13,Movie,Je Suis Karl,Christian Schwochow,"Luna Wedler, Jannis Niewöhner, Milan Peschel, ...","Germany, Czech Republic","September 23, 2021",9,2021,2021,TV-MA,127,"Dramas, International Movies",After most of her family is murdered in a terr...

In [24]:
### Step 7: Check the unique values of columns ###

why should we do that?
1. This was a good way to check there is only TV shows and movies and not anything else (stand-ups, musical, ducomentary, etc.)
2. potentially missing values
3. corrupted values that you can run into once you perform analysis

In [25]:
# getting the unique ratings for shows
list(netflix_shows['rating'].unique())

['TV-MA', 'TV-14', 'TV-Y7', 'TV-PG', 'TV-Y', 'TV-G', 'R', 'NR', '', 'TV-Y7-FV']

In [26]:
# getting the unique ratings for films
list(netflix_films['rating'].unique())

['PG-13',
 'PG',
 'TV-MA',
 'TV-PG',
 'TV-14',
 'TV-Y',
 'R',
 'TV-G',
 'TV-Y7',
 'G',
 'NC-17',
 '74 min',
 '84 min',
 '66 min',
 'NR',
 '',
 'TV-Y7-FV',
 'UR']

In [27]:
# ok, we have a problem. can you see it?

In [41]:
# printing more details of the rows that have incorrect ratings
incorrect_ratings = ['74 min', '84 min', '66 min']
for i in range(len(netflix_films)):
    if netflix_films['rating'].iloc[i] in incorrect_ratings:
        print(netflix_films.iloc[i])
        print("")

        
        
### i would actually do it in the way i am writing below this comment, but i wanted to show you the previous method ###
### because the use of iloc ###

# corrupt_rating_values_df = netflix_films[netflix_films["rating"].isin(incorrect_ratings)]
# corrupt_rating_idx = corrupt_values_df.index
# corrupt_rating_values_df

show_id                                                     s5542
type                                                        Movie
title                                             Louis C.K. 2017
director                                               Louis C.K.
cast                                                   Louis C.K.
                                      ...
release_year                                                 2017
rating                                                     74 min
duration                                                      NaN
listed_in                                                  Movies
description     Louis C.K. muses on religion, eternal love, gi...
Name: 3562, Length: 14, dtype: object

show_id                                                     s5795
type                                                        Movie
title                                       Louis C.K.: Hilarious
director                                               Louis C.K.
cast                                                   Louis C.K.
                                      ...
release_year                                                 2010
rating                                                     84 min
duration                                                      NaN
listed_in                                                  Movies
description     Emmy-winning comedy writer Louis C.K. brings h...
Name: 3738, Length: 14, dtype: object

show_id                                                     s5814
type                                                        Movie
title                        Louis C.K.: Live at the Comedy Store
director                                               Louis C.K.
cast                                                   Louis C.K.
                                      ...
release_year                                                 2015
rating                                                     66 min
duration                                                      NaN
listed_in                                                  Movies
description     The comic puts his trademark hilarious/thought...
Name: 3747, Length: 14, dtype: object

Using this code chunk, we can see that 3 distinct rows contain this weird rating and that it actually belongs to the length column. We can also see the row number where the issue is located which will be useful to use for fixing the entries.
what can we do?
we can delete those rows.
but in this case there are only 3 titles that have this issue. so we can fix it.
we can do some quick Googling, and fix these entries by moving the “wrong ratings” (actually duration) to the length column and entering the right ratings.

In [29]:

# getting the row indices
index = [3562, 3738, 3747]

# fixing the entries
for i in index:
    split_value = netflix_films['rating'].iloc[i].split(" ")
    length = split_value[0]
    netflix_films['length'].iloc[i] = length
    netflix_films['rating'].iloc[i] = "NR"
    
# double checking the entries again
for i in index:
    print(netflix_films.iloc[i])
    
    
# fixing the entries
for i in range(len(netflix_films)):
    if netflix_films['rating'].iloc[i] == "UR":
        netflix_films['rating'].iloc[i] = "NR"
        
# double checking
netflix_films['rating'].unique()

show_id                                                     s5542
type                                                        Movie
title                                             Louis C.K. 2017
director                                               Louis C.K.
cast                                                   Louis C.K.
                                      ...
release_year                                                 2017
rating                                                         NR
length                                                         74
listed_in                                                  Movies
description     Louis C.K. muses on religion, eternal love, gi...
Name: 3562, Length: 14, dtype: object
show_id                                                     s5795
type                                                        Movie
title                                       Louis C.K.: Hilarious
director                                               Louis C.K.
cast                                                   Louis C.K.
                                      ...
release_year                                                 2010
rating                                                         NR
length                                                         84
listed_in                                                  Movies
description     Emmy-winning comedy writer Louis C.K. brings h...
Name: 3738, Length: 14, dtype: object
show_id                                                     s5814
type                                                        Movie
title                        Louis C.K.: Live at the Comedy Store
director                                               Louis C.K.
cast                                                   Louis C.K.
                                      ...
release_year                                                 2015
rating                                                         NR
length                                                         66
listed_in                                                  Movies
description     The comic puts his trademark hilarious/thought...
Name: 3747, Length: 14, dtype: object

C:\Users\hadar\AppData\Local\Continuum\anaconda3\lib\site-packages\pandas\core\indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)

array(['PG-13', 'PG', 'TV-MA', 'TV-PG', 'TV-14', 'TV-Y', 'R', 'TV-G',
       'TV-Y7', 'G', 'NC-17', 'NR', '', 'TV-Y7-FV'], dtype=object)

if there is time:
let’s look at the country and listed_in column. By now, you must have realized that it’s not as easy as the rating column to extract unique values. This is because the values in those columns are words joined together by commas, making it more difficult to extract the set of words and then find unique words from that set.
we will need to  implement a unique function for this special case.

To start, let’s think about what data structure can give us unique values easily.

If you guessed sets, you’re right! Given its ability to store unique elements of the same type in sorted order, it’s a fitting data structure for what we want to do.

In [30]:

# function to get unique values of a column
def getUnique(data):
    unique_values = set()
    for value in data:
        if type(value) is float:
            unique_values.add(None)
        else:
            values = value.split(", ")
            for i in values:
                unique_values.add(i)
    return list(unique_values)

In [31]:

# getting unique country names
unique_countries = getUnique(df['country'])
unique_countries

['',
 'Colombia',
 'Ireland',
 'Serbia',
 'Namibia',
 'Canada',
 'Guatemala',
 'Spain',
 'Cameroon',
 'Poland',
 'Ghana',
 'Peru',
 'Japan',
 'Algeria',
 'Nepal',
 'Samoa',
 'Netherlands',
 'Egypt',
 'Iran',
 'Bermuda',
 'Switzerland',
 'Greece',
 'Sri Lanka',
 'Qatar',
 'Belgium',
 'India',
 'Ethiopia',
 'Kenya',
 'Bahamas',
 'Russia',
 'United Kingdom',
 'Morocco',
 'United Arab Emirates',
 'Angola',
 'Turkey',
 'Finland',
 'United States,',
 'Georgia',
 'South Korea',
 'Malaysia',
 'Czech Republic',
 'Ecuador',
 'Syria',
 'Singapore',
 'Palestine',
 'France',
 'Panama',
 'Dominican Republic',
 'Vatican City',
 'Zimbabwe',
 'Norway',
 'Latvia',
 'Austria',
 'Portugal',
 'Philippines',
 'Burkina Faso',
 'Iceland',
 'Israel',
 'Slovakia',
 'Nigeria',
 'Cyprus',
 'Vietnam',
 'Indonesia',
 'Venezuela',
 'Jordan',
 'Sweden',
 'East Germany',
 'Mauritius',
 'Malawi',
 'Romania',
 'Thailand',
 'Belarus',
 'Bangladesh',
 'China',
 'Puerto Rico',
 'Albania',
 'Somalia',
 'Germany',
 'Jamaica',
 'Lebanon',
 'Mozambique',
 'Mongolia',
 'Saudi Arabia',
 'Sudan',
 'West Germany',
 'Montenegro',
 'Cayman Islands',
 'Brazil',
 'Armenia',
 'Kazakhstan',
 'New Zealand',
 'Liechtenstein',
 'Australia',
 'Luxembourg',
 'Croatia',
 'Nicaragua',
 'United Kingdom,',
 'Ukraine',
 'Hungary',
 'Taiwan',
 'United States',
 'Bulgaria',
 'Paraguay',
 'Lithuania',
 'Italy',
 'Denmark',
 'Azerbaijan',
 'Chile',
 'Senegal',
 'Cambodia,',
 'Cambodia',
 'Uganda',
 'Argentina',
 'Malta',
 'Hong Kong',
 'Kuwait',
 'Afghanistan',
 'Uruguay',
 'Botswana',
 'Poland,',
 'South Africa',
 'Soviet Union',
 'Slovenia',
 'Mexico',
 'Cuba',
 'Iraq',
 'Pakistan']

Next, let’s examine the list of unique countries to see if there are any inconsistencies or mistakes. By doing so and with a little bit of Googling, we can see there are some issues with this list:

1. There’s both the Soviet Union and Russia
2. There’s both the West/East Germany and Germany

We can easily fix this with a few modifications to the dataset.

In [32]:

# converting soviet union to russia and east/west germany to germany
for i in range(len(df)):
    if type(df['country'].iloc[i]) is not float:
        countries = df['country'].iloc[i].split(", ")
        for j in range(len(countries)):
            if "Germany" in countries[j]:
                countries[j] = "Germany"
            elif "Soviet Union" in countries[j]:
                countries[j] = "Russia"
        df['country'].iloc[i] = ", ".join(countries)

As for the list of genres, we can see that there are some genres we might not want or need to include. Thus, we can easily remove it from the dataset to make our analysis less confounding.

In [33]:
# getting unique film genres
unique_genres_films = getUnique(netflix_films['listed_in'])
unique_genres_films

['Classic Movies',
 'Sci-Fi & Fantasy',
 'International Movies',
 'Stand-Up Comedy',
 'Action & Adventure',
 'Comedies',
 'Documentaries',
 'Children & Family Movies',
 'Independent Movies',
 'Cult Movies',
 'Music & Musicals',
 'Dramas',
 'Movies',
 'Sports Movies',
 'Thrillers',
 'Romantic Movies',
 'Faith & Spirituality',
 'Anime Features',
 'Horror Movies',
 'LGBTQ Movies']

In [34]:
# getting unique show genres
unique_genres_shows = getUnique(netflix_shows['listed_in'])
unique_genres_shows

['Teen TV Shows',
 "Kids' TV",
 'TV Action & Adventure',
 'TV Thrillers',
 'Classic & Cult TV',
 'TV Shows',
 'British TV Shows',
 'Korean TV Shows',
 'Docuseries',
 'Spanish-Language TV Shows',
 'TV Sci-Fi & Fantasy',
 'TV Comedies',
 'Anime Series',
 'International TV Shows',
 'Reality TV',
 'TV Mysteries',
 'Romantic TV Shows',
 'TV Horror',
 'TV Dramas',
 'Stand-Up Comedy & Talk Shows',
 'Science & Nature TV',
 'Crime TV Shows']

In both the TV shows and films dataset, there is a “TV Shows” and “Movies” genres. Technically, this isn’t a genre but could be a label of the type of content. To confirm this, we should print out the counts of these “genres” appearing in the respective datasets.

The hypothesis is that if these “genres” appear in all the rows of the datasets, it means that they’re simply labels. Otherwise, we’ll have to investigate further as to what those “genres” represent.

In [35]:

# checking for TV shows
# replace netflix_shows with netflix_films to check for movies
count = 0
index = []
for i, value in enumerate(netflix_shows['listed_in']):
    genres = value.split(", ")
    if "TV Shows" in genres:
        count += 1
        index.append(i)
print("count %s" %count)
print("index %s" %index)

count 16
index [59, 110, 272, 286, 452, 599, 991, 1432, 1548, 1808, 1840, 2107, 2160, 2190, 2465, 2559]

As the count of the “genres” is less than the size of the datasets, let’s use the output of the code to examine the rows.

Since I’ve written the code to specifically output the row indices in a list, we can easily use that list and the iloc function to get a view of the rows.

In [36]:
# printing the first 5 rows of all rows that have TV Shows as its genre
netflix_shows.iloc[index[0:5]]

# printing the first 5 rows of all rows that have Movies as its genre
netflix_films.iloc[index[0:5]]

,show_id,type,title,director,cast,country,date_added,month_added,year_added,release_year,rating,length,listed_in,description
59,s108,Movie,A Champion Heart,David de Vos,"Mandy Grace, David de Vos, Donna Rusch, Devan ...",United States,"September 4, 2021",9,2021,2018,G,90,"Children & Family Movies, Dramas",When a grieving teen must work off her debt to...
110,s175,Movie,Tears of the Sun,Antoine Fuqua,"Bruce Willis, Monica Bellucci, Cole Hauser, Ea...",United States,"September 1, 2021",9,2021,2003,R,121,"Action & Adventure, Dramas",A Navy SEAL is sent to a war-torn African jung...
272,s420,Movie,Chhota Bheem: Bheem vs Aliens,Rajiv Chilaka,"Vatsal Dubey, Julie Tejwani, Rupa Bhimani, Jig...",,"July 22, 2021",7,2021,2010,TV-Y7,69,"Children & Family Movies, Sports Movies",Space invaders have kidnapped Dholakpur’s king...
286,s439,Movie,2 Weeks in Lagos,Kathryn Fasegha,"Beverly Naya, Mawuli Gavor, Ajoke Silva, Jide ...",,"July 16, 2021",7,2021,2020,TV-PG,107,"Dramas, International Movies, Romantic Movies",A businessman returns home to Nigeria and fall...
452,s723,Movie,Sir! No Sir!,David Zeiger,Troy Garity,United States,"June 15, 2021",6,2021,2005,TV-MA,84,Documentaries,This documentary chronicles the largely forgot...

Taking a look at the rows, it is now obvious that the “TV Shows” and “Movies” genre was used to signify that these content didn’t have a genre in the first place. Now that we understand what this meant, we can either choose to exclude or include it in our analysis